<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            {{>header}}<!--Load partial header-->
            <p>
               Page Title: {{title}}
            </p>
            {{>footer}}<!--Load partial footer-->
        </body>
</html>